doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(rel="shortcut icon",type="image/x-icon",href="http://ac-a5zjlnxg.clouddn.com/0e742527e5852b108c28.png")
		include ./includes/head
	body
		include ./includes/header
		block content
		include ./includes/footer